.primary-wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.primary-wrapper.toggled {
    padding-right: 30%;
}


/* Navbar Styles */

.sidebar-toggle {
    margin-left: 30px;
    position: relative;
    display: block;
    padding: 15px;
    color: #999999;
}

.sidebar-toggle:active,
.sidebar-toggle:focus {
    color: #999999;
    text-decoration: none;
} 

.sidebar-toggle:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-collapse {
    width: 100%;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}


/* Content Area Styles */

.page-content-wrapper {
    padding: 15px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.primary-wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-left: 0;
}

.page-content-container {
        padding: 50px 0;
    }


/* Sidebar Styles */

.sidebar-wrapper {
    position: fixed;
    right: 0;
    z-index: 1000;
    overflow-y: unset;
    margin-right: 0;
    width: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.primary-wrapper.toggled .sidebar-wrapper {
    right: 0;
    width: 100%;
}


/* Bootstrap overrides */

.panel,
.panel-body,
.panel-footer {
    border: none;
    box-shadow: none;
}

.panel-body {
    background-color: #cccccc;
    height: 200px
}

.panel-footer {
    background-color: #ffffff;
}


/* Footer Styles */

.footer {
        height: 50px;
        background-color: #000000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
}


@media (min-width: 768px) {
    .container-fluid {
        padding: 0;
    }

    .page-content-container {
        padding: 50px 0;
    }

    .navbar {
        padding: 0 15px;
    }

    .primary-wrapper {
        padding-right: 0;
    }

    .primary-wrapper.toggled {
        padding-right: 0;
    }

    .sidebar-wrapper {
        margin-right: -30%;
        width: 0;
    }

    .primary-wrapper.toggled .sidebar-wrapper {
        right: 30%;
        width: 30%;
    }

   .page-content-wrapper {
        padding: 20px;
        height: 100%;
        position: relative;
    }

    .primary-wrapper.toggled .page-content-wrapper {
        margin-left: 0;
        width: 70%;
    }
}